$primary-color: #3F51B5;
$primary-dark-color: #303F9F;
$primary-alt-color: white;

$secondary-color: #FFC107;

$black: lighten(#353238, 10%);
$red: #EF3937;
$orange: #FC8C24;
$yellow: #FDE747;
$green: #48A64D;
$blue: #278DED;
$purple: #9124A4;



$primary-color: #8375DD;


$body-background: white;

$board-background: #AEDCC0;
$board-background: #FFE2D1;


$board-border-color: darken($board-background, 10%);

$player-1-color: $black;
$player-2-color: #E54B4B;


$zIndex-window-alert: 103;

@mixin media($width){
	@media only screen and (max-width: $width){
		@content;
	}
}