@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap);@-webkit-keyframes scaleBounce {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.6);
  }

  60% {
    transform: scale(0.6);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes scaleBounce {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.6);
  }

  60% {
    transform: scale(0.6);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1, 1);
  }
}

.z-depth-scrolled {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-1,
.icon-btn,
.btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half,
.icon-btn:active,
.btn:active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.no-select,
.a,
.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
  transform: translateZ(0);
}

.rippleWave {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  background: white;
  opacity: 0.45;
  transform: scale(0.7);
  -webkit-animation: ripple 2s forwards;
          animation: ripple 2s forwards;
}

@-webkit-keyframes ripple {
  to {
    transform: scale(24);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    transform: scale(24);
    opacity: 0;
  }
}

.text-input {
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.6);
  background: transparent;
  display: inline-block;
  transition: all 0.2s;
  padding: 1em;
  padding-left: 0;
  padding-bottom: 0.5em;
}

.text-input:focus {
  padding-left: 1em;
  border-color: #F2DC5D;
}

.text-input.full-width {
  width: 100%;
}

.btn {
  padding: 1em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  border: none;
  cursor: pointer;
  display: inline-block;
  background: #F2DC5D;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.25s;
  font-size: 0.9em;
  font-weight: bold;
}

.btn > i {
  color: inherit;
  position: relative;
  right: 5px;
  font-size: inherit;
}

.btn.full-width {
  width: 100%;
  display: block;
  text-align: center;
}

.btn.spaced {
  margin-top: 10px;
}

.btn.spaced-xl {
  margin-top: 30px;
}

.btn.disabled,
.btn:disabled {
  box-shadow: none;
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}

.btn.light {
  background: white;
  color: #303F9F;
}

.btn.orange {
  background: #FC8C24;
}

.btn.blue {
  background: #278DED;
}

.btn.red {
  background: #EF3937;
}

.icon-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  padding: 0.4em;
  transition: all 0.25s;
  background: #F2DC5D;
  color: white;
  position: relative;
}

.icon-btn:focus {
  outline: 0;
  border: solid 1px #278DED;
}

.icon-btn i {
  font-size: 0.8em;
}

.icon-btn.disabled,
.icon-btn:disabled {
  box-shadow: none;
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}

.icon-btn.light {
  background: white;
  color: #F2DC5D;
}

.icon-btn.blue {
  background: #278DED;
}

.icon-btn.red {
  background: #EF3937;
}

.icon-btn.green {
  background: #48A64D;
}

.icon-btn.orange {
  background: #FC8C24;
}

.icon-btn.primary-color {
  background: #F2DC5D;
}

.a {
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #F2DC5D;
}

.a:hover {
  text-decoration: underline;
}

@-webkit-keyframes rotateFull {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateFull {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background: radial-gradient(rgba(242, 220, 93, 0.3) 10%, transparent 15%) 0 0, radial-gradient(rgba(242, 220, 93, 0.3) 10%, transparent 15%) 16px 16px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 16px 17px;
  background-size: 32px 32px;
  background-color: white;
}

